@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    
</div>
<style>
body{
     width: 100%;
    background-image: url(https://i.pinimg.com/originals/82/98/18/829818485115856e81bd140b57b84803.gif);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover
}

h1{
    color: yellow;
}

</style>
