@{
    ViewData["Title"] = "Tutorial de ML.NET";
}
<h1>@ViewData["Title"]</h1>
<h2>Objetivo</h2>

<p>Utilice ML.NET Model Builder en Visual Studio para entrenar y utilizar su primer modelo de aprendizaje automático con ML.NET</p>

<h3>Requisitos previos</h3>
<p>Ninguno.</p>

<h4>Tiempo para completar</h4>
<p>10 minutos + tiempo de descarga/instalación</p>

<h5>Guión</h5>
<p>Una aplicación que puede predecir si el texto de las reseñas de los clientes es un sentimiento negativo o positivo.</p>
<style>
    body{
       background-image: url(https://timetodev.co.kr/Upload/Board/mldotnet.png);
         background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    h1{
        text-align: center;
        color: green;
    }

    h2{
        color: red;
    }
    h3{
        color: red;
    }
    h4{
        color: red;
    }
    h5{
        color: red;
    }
</style>
